# Android / Android Studio
.gradle/
.idea/
local.properties
*.iml
/out/
build/
app/build/
captures/
.externalNativeBuild/
.cxx/
# OS
.DS_Store
Thumbs.db
# Keystores / credenciales
*.jks
*.keystore
# Videos y binarios grandes
*.mp4
*.apk
