# Android / Android Studio
.gradle/
.idea/
local.properties
*.iml
/out/
build/
app/build/
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db

# Keystores / credenciales
*.jks
*.keystore

# Binarios pesados
*.mp4
*.apk
